<div>
  <main>
    <div class="left-bar">
      <app-waypoint-form (waypointEmitter)="setWaypoints($event)"
                         [clickedCoords]="clickedCoords.asObservable()"></app-waypoint-form>
    </div>
    <div id="ol-map" class="map-container">
      <app-map [map]="map"></app-map>
    </div>
  </main>
  <footer>
    <app-scaleline [map]="map"></app-scaleline>
    <app-mouse-position [map]="map" positionTemplate="{y} °, {x} °"></app-mouse-position>
  </footer>
</div>
<hr>
<div class="container-fluid" style="max-width: 50vw">
  <div class="d-flex align-items-center justify-content-center">
    <mat-spinner *ngIf="awaitingResponse"></mat-spinner>
    <app-tsp-final-result *ngIf="!awaitingResponse" [result]="result"></app-tsp-final-result>
  </div>
</div>
<div class="stepper-container">
  <app-geoid-stepper [points]="waypoints"
                     (deletePoint)="handlePointRemoval($event)"
                     (geoidRequest)="calculate($event)">
  </app-geoid-stepper>
</div>
