:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2em;
}
header .title {
  font-size: 28px;
}
main {
  display: flex;
  height: 75vh;
  min-height: 450px;
  flex-grow: 1;
}
.left-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  background-color: #E8EAF6;
}
.map-container {
  flex-grow: 1;
}

footer {
  display: flex;
  background-color: white;
  padding: 1em;
  justify-content: space-between;
}

.stepper-container {
  min-height: 300px;
}
